/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    color: #414141;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}


* {
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
}


/* Container */

.container {
    max-width: 1180px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
}

/* Width */
.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.w-30 {
    width: 30%;
}

/* Height */
.h-unset {
    height: unset;
}

/* Font Weight */

.font-weight-700 {
    font-weight: 700;
}

/* Font Size */

.font-38 {
    font-size: 38px;
}

.font-30 {
    font-size: 30px;
}

.font-24 {
    font-size: 24px;
}

.font-14 {
    font-size: 14px;
}

.txt-decoration-underline {
    text-decoration: underline;
}

.txt-align-center {
    text-align: center;
}

/* Colors */
.txt-secondary {
    color: #FF0000;
}

.txt-gray {
    color: #DADADA;
}

.bg-primary {
    background: #F0EFEF;
}

.bg-input {
    background: #DADADA;
}

.bg-btn-primary {
    background: #171717;
    color: #FFFFFF;
}

/* Display */
.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: end;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.flex-dir-col {
    flex-direction: column;
}

/* Padding */
.p-10 {
    padding: 10px;
}
.p-6{
    padding: 6px;
}
.px-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pt-60 {
    padding-top: 60px;
}

.pt-30 {
    padding-top: 30px;
}

.py-30 {
    padding: 30px;
}

/* Margin */
.mb-11 {
    margin-bottom: 11px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-10 {
    margin-left: 10px;
}


/* Line Height */

.lh-28 {
    line-height: 28px;
}

.lh-21 {
    line-height: 21px;
}

/* gap */

.gap-110 {
    gap: 110px;
}

.gap-80 {
    gap: 80px;
}

.gap-29 {
    gap: 29px;
}

.gap-20 {
    gap: 20px;
}

.gap-5 {
    gap: 5px;
}

/* Section */

.border-bottom-gray {
    padding-top: 30px;
    padding-bottom: 40px;
    margin-left: 48px;
}

.border-input {
    border: 1px solid #D7D7D7;
}

/* table */

table {
    max-width: 95%;
    width: 100%;
    height: auto;
}

table, th, td {
    border: 1px solid black;
}

th {
    padding: 8px;
}

td {
    padding: 8px;
}

/* Form */


.user-form input[type=text], .user-form input[type=email], .user-form input[type=number] {
    width: 50%;
    font-size: 18px;
    height: auto;
}

.user-form input[type=date], .user-form input[type=datetime-local], .user-form select {
    width: 34%;
    font-size: 18px;
    padding: 5px 10px;
}

.user-form input[type=password] {
    width: 25%;
    font-size: 18px;
    border: none;
}

.user-form input[type=color] {
    width: 14%;
}

.user-form input::placeholder {
    font-size: 18px;
    color: #DADADA;
    font-family: 'Arial';
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 3px 16px;
    cursor: pointer;
    background: #DADADA;
}

/* Button */

.btn-submit, .btn-reset {
    padding: 11px 21px;
}

.btn-submit:hover, .btn-reset:hover {
    background: #414141;
    color: #F0EFEF;
    cursor: pointer;
}

/* main css start */

/* Header Section */
header {
    width: 100%;
}

/* List Section */
.list-style-alphabates {
    list-style: upper-alpha;
}

.list-style-roman {
    list-style: upper-roman;
}

.list-style-square {
    list-style: square;
}

.list-style-circle {
    list-style: circle;
}

.border-bottom-gray {
    border-bottom: 1px solid #D1D1D1;
}