/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

hr {
    border: 0;
    clear: both;
    display: block;
    width: 96%;
    background-color: #000000;
    height: 1px;
}

a {
    display: inline-block;
    color: #1D1D1D;
}

body {
    line-height: 1;
    color: #1D1D1D;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}


* {
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
}


/* Container */

.container {
    max-width: 1180px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
}

img {
    max-width: 100%;
    height: auto;
}


/* Width */
.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}
.w-60{
    width: 60%;
}
.w-30 {
    width: 30%;
}

.w-20 {
    width: 10%;
}
.w-4{
    width: 4%;
}
/* Font Weight */

.font-weight-700 {
    font-weight: 700;
}


/* Font-size */
.font-48 {
    font-size: 48px;
}

.font-42 {
    font-size: 42px;
}

.font-40 {
    font-size: 40px;
}

.font-38 {
    font-size: 38px;
}

.font-36 {
    font-size: 36px;
}

.font-30 {
    font-size: 30px;
}

.font-28 {
    font-size: 28px;
}

.font-24 {
    font-size: 24px;
}

.font-18 {
    font-size: 18px;
}

.font-16 {
    font-size: 16px;
}

.font-10 {
    font-size: 10px;
}

.txt-align-center {
    text-align: center;
}

.txt-decoration-underline {
    text-decoration: underline;
}
.font-style-italic{
    font-style: italic;
}
/* Colors */

.txt-primary {
    color: #414141;
}

.txt-secondary {
    color: #FF0000;
}
.txt-blue{
    color: #130085;
}

.txt-gray {
    color: #DADADA;
}
.txt-white{
    color: #FFFFFF;
}
.bg-primary {
    background: #F0EFEF;
}

.bg-red{
    background: #FF0000;
}
.bg-orange{
    background: #FB6050;
}
.bg-yellow{
    background: #FBA333;
}
.bg-sky-blue{
    background: #3092F9;
}
.bg-green{
    background: #45B375;
}
.border-none {
    border: none;
}

/* Display */
.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: end;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.flex-dir-col {
    flex-direction: column;
}

/* Padding */
.p-10 {
    padding: 10px;
}

.px-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pt-60 {
    padding-top: 60px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-40 {
    padding-top: 40px;
}

.pb-40 {
    padding-bottom: 40px;
}
.pb-34{
    padding-bottom: 34px;
}
.pb-23 {
    padding-bottom: 23px;
}

.pb-16 {
    padding-bottom: 16px;
}

.pb-11 {
    padding-bottom: 11px;
}

.py-30 {
    padding: 30px;
}
.pl-19{
    padding-left: 19px;
}
/* Margin */
.mb-23 {
    margin-bottom: 23px;
}

.mb-11 {
    margin-bottom: 11px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-20 {
    margin-left: 20px;
}

/* Line Height */
.line-height-30 {
    line-height: 30px;
}

/* gap */

.gap-110 {
    gap: 110px;
}

.gap-80 {
    gap: 80px;
}
.gap-40{
    gap: 40px;
}

.gap-28 {
    gap: 28px;
}

.gap-20 {
    gap: 20px;
}

.gap-5 {
    gap: 5px;
}

/* Section */

.border-bottom-gray {
    padding-top: 30px;
    padding-bottom: 40px;
    margin-left: 48px;
    border-bottom: 1px solid #D1D1D1;
}

/* main css start */

/* Header Section */
header {
    width: 100%;
}