/* Reset Css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.header {
    width: 100%;
    background-color: #F0EFEF;
}

.hr-line {
    color: #000000;
}

.heading {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    text-decoration: underline;
    text-align: center;
    color: red;
    line-height: 38px;
    padding: 27px 484px;
}

.first-sec {
    padding-top: 61px;
}

.second-sec {
    margin-top: 30px;
}

.number {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    color: #1D1D1D;
    padding: 37px;
}

.inside-heading {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    color: #1D1D1D;
    padding-top: 28px;
}

.inside-para {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #414141;
    padding-top: 11px;
}

.line {
    position: absolute;
    width: 1492px;
    top: 31%;
    height: 0px;
    left: 43px;
    color: #D1D1D1;
}

.line-1 {
    position: absolute;
    width: 1492px;
    height: 0px;
    left: 43px;
    color: #D1D1D1;
}

.heading-1 {

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    padding-top: 24px;
    color: #1D1D1D;
}

.heading-2 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 41px;
    color: #1D1D1D;
    margin-top: 23px;
}

.heading-3 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #1D1D1D;
    margin-top: 23px;
}

.heading-4 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #1D1D1D;
    margin-top: 23px;
}

.heading-5 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #1D1D1D;
    margin-top: 23px;
}

.heading-6 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #1D1D1D;
    margin-top: 23px;
    margin-bottom: 40px;
}

.link {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-decoration-line: underline;
    color: #1D1D1D;
    margin-top: 40px;
}

.para {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-top: 35px;
    color: #414141;
}

.para-1 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FF0000;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-20 {
    margin-top: 15px;
}

.mt-un {
    margin-top: 0;
}

.imgg {

    margin-top: 25px;
    margin-bottom: 20px;
}

.heading-6-6 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    color: #1D1D1D;
}

.button {
    width: 612px;
    height: 45px;
    border-radius: 0px;
    border: 0px;
    background: #FB6050;
    font-family: Arial;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    margin-top: 20px;
}

.button-new {
    background: #FBA333;
    width: 827px;
    height: 60px;
    line-height: 30px;
    font-weight: 400;
    border-radius: 0px;
    border: 0px;
    font-family: Arial;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    margin-top: 20px;
}

.flex {
    display: flex;
}